Geeks_for_Geeks 
			{ 
			font-size:80%; 
			margin:0.5em; 
			font-family: Verdana; 
			display:block; 
			} 
geeks_section { 
			display:block; 
			border: 1px solid silver; 
			margin:0.5em; 
			padding:0.5em; 
			background-color:whitesmoke; 
			} 
title { 
	display:block; 
	font-weight:bolder; 
	text-align:center; 
	font-size:30px; 
	background-color: green; 
	color: white; 

	} 
name, topic1, topic2, topic3, topic4 { 
								display:block; 
								text-align:center; 
								} 
name { 
	color:green; 
	text-decoration: underline ; 
	font-weight:bolder; 
	font-size:20px; 
	} 
topic1 { 
	color:green
	} 
topic2 { 
	color:brown 
	} 
topic3 { 
	color:blue
	} 
topic4 { 
	color:orange 
	} 
